.Signup{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem;

    border-radius: 5px;

}

.Signup-header{
    font-size: 50px;
}

.Signup-container{
    width: 18rem;
    margin: 10px;
    display: block;
    text-align: left;
}

.Signup-label{
    font-size: 14px;
    font-weight: bold;
    color: rgb(53, 53, 53);

}
.Signup-input{

    border: 1px solid rgb(83, 83, 83);
    border-radius: 5px;
    color: black;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
}


.Signup-submitBtn{
    background-color: black;
    color: white;

    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    padding: 15px 30px;

    font-weight: bold;
    font-size: 17px;
    display: block;

    margin-left: 15px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
    font-size: 15px;
  }