.Stock {
    text-align: center;
}


.Stock-container {

    text-align: center;

    width: 50vw;
    margin: 10px auto;
    display: flex;
    align-items:flex-start;
    border: none;
    justify-content: space-around;
    padding: 10px;

}

.Stock-name {


}

.Stock-amount {


}

.Stock-backBtn {
    padding: 0.5rem 1rem;
    margin: 10px;
    background-color: white;
    border-radius: 5px;

    outline: none;
}

