<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SpyBot</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <li><a href="/logout">Log out</a></li>
    <div class="container" id="menu-container">
        <div class="button" id="quick-game">Quick Game</div>
        <div class="button" id="find-game">Find Game</div>
        <div class="button" id="create-game">Create Game</div>
    </div>
    <div class="container" id="rooms-container">
        <div id="rooms-list">

        </div>
    </div>
    <div class="container" id="create-container">
        <form id="create-form">
            <label for="gameName">Databattle Name:</label><br>
            <input type="text" id="gameName" name="gameName"><br>
            <button id="#create-form-submit" type="submit">Submit form</button>
        </form>
    </div>
    <div class="container" id="waiting-container">
        <div class="text">waiting for opponent...</div>
    </div>
    <div class="container" id="game-container">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.0.0/dist/phaser.min.js"></script>
    <script type="module" src="js/index.js"></script>
</body>
</html>