<!DOCTYPE html>
<html>
 
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
    </head>
 
    <body>
    <li><a href="/">Login</a></li>
    <div class="vertical-container">
        <form id='signup-form'>
            <h2 >SIGN UP</h2>
            <input type="text" placeholder="Username" name='username'></input>
            <input type="password" placeholder="Password" name='password'></input>
            <button type="submit" >Create Account</button>
        </form>
    </div>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (err) => {
            err.preventDefault();

            //get the values
            const username = form.username.value;
            const password = form.password.value;

            //TODO: Form validation and handle errors
            try{
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify(
                        {
                            username: username,
                            password: password
                        }
                    ),
                    headers: {'Content-Type':'application/json'} 
                });
                const data = await res.json();
                console.log(data);
                if(data.errors){
                    console.log("We have errors")
                }
                //successful authentication
                if(data.user){
                    //redirect to find match screen
                    location.assign('/index');
                }
            }catch(err){
                
                console.log(err._message)
            }

        })
    </script>
    </body>
 
</html>
